<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      text-align: center;
    }
    h1{
      padding: 10px;
      color: mediumslateblue;
      box-shadow: 1px 1px black;
    }

    button{
      padding: 10px;
      background-color: mediumslateblue;
      border-radius: 20px;
    }
  </style>
</head>
<body>
  <h1>Contador de Visitas</h1>
  <h3>Estas son las visitas de la pagina: <%=count%></h3>
  <p><a href="/sumar"><button> +2 </button></a></p>
  <p><a href="/reiniciar"><button>Reiniciar</button></a></p>
</body>
</html>